* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background:linear-gradient(to top, rgba(0,0,0,0.4)), url(images/realistic-interior-design2.jpg);
    background-size: cover;
    background-position: center;
  }
  header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: center;
  }
  
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 132, 0);
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
  }
nav{
  margin-left: 50px;
}
  nav ul {
    list-style: none;
    display:flex;
  }
  
  nav ul li {
    margin-left: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color:  #00acc1;
  }
  .sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    color: black;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar a{
    color: white;
  }
  .sidebar li{
   
    width:100%;
    margin-left:20px;
    padding: 0px 15px;
    margin-top: 10px;
    line-height: 1.6;
    border-radius: 5px;
  }
  .sidebar li::after{
    width: 0;
  }
  .sidebar a::after{
    width: 0;
  }
  .sidebar li:hover{
    border-radius: 5px;
    border:2px aqua solid;
    border-top:none;
    border-right: none;
    border-bottom: none;
  }
.menu::after{
    background: none;
  }
  ul.messages {
    max-width: 500px;
    margin: 0 auto 20px auto;
    padding: 0;
    list-style: none;
}
ul.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
ul.messages li.success {
    background-color: #d4edda;
    color: #155724;
}
ul.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
}

  li::after{
    content: '';
    width:25%;
    height:2px;
    background-color: orange;
    color:white;
    display:flex;
    margin:auto;
    transition: 0.5s;
    
}
li:hover::after{
    width:100%;
}

.contact-section {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    font: bold;
    color: black;
  }
.contact-section h2{
  text-align: center;
}
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .contact-form button:hover {
    background-color: #1a242f;
  }
  footer {
    
    color: white;
    padding: 2rem;
    text-align: center;
  }
 @media (min-width:700px){
    .menu{
       display: none;
     }
    }
  @media(max-width:700px){
    .nav-local{
      display: none;
    }
  }