*{
  margin: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
header{
  background:linear-gradient(to top, rgba(0,0,0,0.4)), url('images/mid-century-interior-design.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 20px;
  height: 300px;
  display: flex;

}
.logo {
  color: rgb(255, 132, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}
  nav {
    padding-right: 20px;
    align-items: left;
    color: White;
    display: flex;
    justify-content: space-between;
  }
  

  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    color:white;
    
  }
  
  nav ul li a {
    color: #FAF3E0;
    text-decoration: none;
    transition:opacity 0.3s ease-in;
  }
  
  nav ul li a:hover { 
    color:white;
   
  }

 nav li::after{
    content: '';
    width:25%;
    height:2px;
    background-color: orange;
    color:white;
    display:flex;
    margin:auto;
    transition: 0.5s;
    
}
nav li:hover::after{
    width:100%;
}
.sidebar{
  position: fixed;
  top:0;
  right:0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  color: black;
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar a{
  color: white;
}
.sidebar li{
 
  width:100%;
  margin-left:0;
  padding: 0px 0px;
  margin-top: 10px;
  line-height: 1.6;
  border-radius: 5px;
}
.sidebar li::after{
  width: 0;
}
.sidebar li:hover{
  border-radius: 5px;
  border:2px aqua solid;
  border-top:none;
  border-right: none;
  border-bottom: none;
}
.menu::after{
  background: none;
}
  .listings {
    padding: 2rem;
    text-align: center;
    background-color: white;
    
  }
#Available{
  color:rgb(3, 255, 3);
}
  
  .apartment-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 1.5rem;
  }
  
  .apartment-card {
    background: #fff;
    border: 2px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    height: fit-content;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .apartment-card img {
    width: 65%;
    border-radius: 4px;
  }
  
  footer {
    background: linear-gradient(to bottom right, #ff914d, #8b5e3c);
    color: white;
    padding: 2rem;
    text-align: center;
  }
@media (min-width:700px){
 nav .menu{
    display: none;
  }
}
@media (max-width:700px){
  .nav-local{
    display:none;
  }
}